<head>
    <meta charset="utf-8">

    <title>Eon 22</title>

    <meta name="description" content="It is the 22nd century and humanity has progressed to a post-industrial dystopia.">
    <meta name="author" content="baerbradford">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1.0">

    <link rel="shortcut icon" href="img/favicon.png">
    <link rel="icon" type="image/png" href="img/favicon.png" sizes="32x32">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:200,300,400,600,700&Open+Sans:300,400,600,700">
    <link rel="stylesheet" href="main.min.css">
</head>