<!DOCTYPE html>
    {{> head }}

    <body>
        <div id="page-container" class="vintage-sf">
            <!-- Header -->
            <header id="page-header">
                {{!-- <div class="h3 text-right pull-right hidden-xs">
                    <div class="text-crystal font-w300">USER_LOGGED_IN</div>
                    <div class="text-success animated infinite pulse pull-right">[LIVE]</div>
                </div> --}}
                <h1 class="h3 font-w200">
                    <span class="text-crystal">//</span> <a class="link-sf font-w300" href="./">EON 22</a>
                </h1>
            </header>
            <!-- END Header -->

            <!-- Main Content -->
            <main id="page-main">
                <div class="block">
                    <div class="block-content block-content-full font-s12 text-center visibility-hidden" data-toggle="appear" data-class="animated fadeIn" data-timeout="1000">
                        {{{ content }}}
                        <hr>
                        <h3>Events</h3>
                        {{# each pages }}
                            <p>
                                <a href="{{url}}">{{ linkTitle }}</a>
                            </p>
                        {{/each}}
                    </div>
                </div>
            </main>
            <!-- END Main Content -->
        </div>
        <!-- END Page Container -->

        {{> scripts }}
    </body>
</html>
